@charset "utf-8";
/* CSS Document */

body {
	background-color: #22F5B2;
	font-family: 'Noto Sans SC', sans-serif;
}
h1 {
	font-size: 32px;
	text-align: center;
	line-hight: 10px;
	text-shadow: 5px 3px 1px blue;
}
p {
	color : yellow;
}
#email {
	text-decoration: underline;
}
li {
	font-weight: 600;
}